<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <!--action указывает на какой аддресс будет форма отсылать данные-->
    <!--в какую модель засовывем данные, к этому объекту обращаемся и для него создается форма-->
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <!--показывает ошибку если она есть-->
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <!--в таймлиф филж мы указываем на поле объекта модели(персон) которому мы присваиваем значение-->

    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>